<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AGCGM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <AGCGM.Properties.Settings>
            <setting name="ConfigDirectory" serializeAs="String">
                <value>configs</value>
            </setting>
            <setting name="ConfigFile" serializeAs="String">
                <value>Config.xml</value>
            </setting>
            <setting name="GameInfoFile" serializeAs="String">
                <value>GameInfo.xml</value>
            </setting>
            <setting name="CacheBannerDir" serializeAs="String">
                <value>cache\banner</value>
            </setting>
            <setting name="CacheCoverFront" serializeAs="String">
                <value>cache\cover\front</value>
            </setting>
            <setting name="CacheCoverFront3D" serializeAs="String">
                <value>cache\cover\front3D</value>
            </setting>
            <setting name="CacheCoverFull" serializeAs="String">
                <value>cache\cover\full</value>
            </setting>
            <setting name="CacheCoverDisk" serializeAs="String">
                <value>cache\cover\disk</value>
            </setting>
        </AGCGM.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
